<h1>Welcome to The 1 Salon Stylist Client Manager</h1><br>
Please sign in: <br><br>


<%= flash[:message] if flash[:message] %>

<%= form_with model: @stylist, url: login_path do |f| %>

    
    <%= f.label "email" %>
    <%= f.email_field :email %>

    <%= f.label "password" %>
    <%= f.password_field :password %>

    <%= f.submit "Login" %>

<% end %>

<br>
Need a new account?  <%= link_to "Sign up here!", signup_form_path %>
Or...<%= link_to "Sign up with Google!", '/auth/google_oauth2' %>