<h1><%=@stylist.name%>'s Appointments</h1><br>
<%= link_to "Back to Dashboard", stylist_path(@stylist) %> <br> 


<% @apps.each do |app| %>

   <ul>
   <li><p><%= app.client.name %>, <%=  app.date %>  <%= link_to "Edit", edit_client_appointment_path(app.client, app) %>  <%= link_to "Delete", client_appointment_path(app.client, app) %></p></li> 
   </ul>
   
   <% end %>

   <%= link_to "Logout", logout_path %>
