<h3>Create New Appointment for <%= @client.name %></h3>
<%= link_to "Back to Dashboard", stylist_path(current_user) %><br><br>

<%= form_with model: @app, url: client_appointment_index_path do |a| %>
   
    <%= a.label :date %>
    <%= a.text_field :date %><br><br> 
  
    <%= a.submit %> 

<% end %>