<h3>Welcome New Stylist</h3>
<h7>Please Create your account

<%= render "layouts/errors", errors: @stylist.errors.full_messages %>

<%= form_with model: @stylist, url: signup_path do |f| %>

    <%= f.label :name %> 
    <%= f.text_field :name %>
  
    <br>
  
    <%= f.label :email %>  
    <%= f.email_field :email, placeholder: "This will be your username" %>
    <br>
  
    <%= f.label :password %>
    <%= f.password_field :password %>

    <br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br><br>
  
    <%= f.submit "Sign Up" %> <h8>Note: You will be asked to login.</h8>
    <br><br>
    Already one of our Stylists?<%=  link_to " Click here to Log In!",  login_path %>
  
  <% end %>
  </h7>
