<h3>Client Management Dashboard</h3>

<h4>Hello Stylist: <%= @stylist.name %></h4>

<p>What would you like to do?</p>

      
    <%= button_to "View Your Appointments", appointment_index_path, :method => :get %><br>

    <%= button_to "Create a New Client", new_client_path, :method => :get %><br>

    <%= button_to "View Client List", client_index_path, :method => :get %><br>

    


<%= link_to "Logout", logout_path %>