<h3>Create Your New Client</h3>

<%= form_with model: @client, url: client_index_path, method: "post" do |c| %>
    <ul class="errors-list">
      <% @client&.errors.full_messages.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  
    <%= c.label :name %>
    <%= c.text_field :name %><br><br>

    <%= c.label :phone_number %>
    <%= c.text_field :phone_number %><br><br>

    <%= c.label :notes %>
    <%= c.text_field :notes %><br><br>
  
    <%= c.submit %>
  
  <% end %>