<h3>Create Your New Client</h3>
<%= link_to "Back to Dashboard", stylist_path(current_user.id) %><br><br>

<%= form_with model: @client, url: client_index_path, local: true, method: "post" do |c| %>
  <% if @client.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul> 
  </div>
<% end %>
  
    <%= c.label :name %>
    <%= c.text_field :name %><br><br>

    <%= c.label :phone_number %>
    <%= c.text_field :phone_number %><br><br>

    <%= c.label :notes %>
    <%= c.text_field :notes %><br><br>
  
    <%= c.submit %><br><br>
   
    
  <% end %>