<h3> Client: <%= @client.name %></h3>

<h4> 
Notes: <%= @client.notes %> <br>
Contact: <%= @client.phone_number %><br>
</h4>

<%= link_to "Create Appointment", new_client_appointment_path(@client), :method => :get %><br><br>

<%= link_to "Delete Client", client_path, method: :delete %><br><br>

<%= button_to "Back to Client List", client_index_path, :method => :get %>

<%= button_to "Back to Dashboard", stylist_path(current_user.id), :method => :get %> <br>