<!DOCTYPE html>
<html>
  <head>
    <title>RailsHairSalon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:stylist_id] %>
      <%= link_to "Logout", logout_path, :method => :get, id: "signout-button" %>
    <% end %>

   

    <%= yield %>
    
  </body>
</html>
